/*
    Theme Name: Theme COQPIT
    Theme URI: http://www.coqpit.fr
    Description: Theme COQPIT
    Version: 1.4.3
    Author: COQPIT
    Author URI: http://www.coqpit.fr
    Tags: Blank, HTML5, CSS3

*/
/* ----------------------------------- *\
    COQPIT
\* ----------------------------------- */
section.footer span.footer-post-title {
    color:#fff;
font-weight:bold;
}
section.footer .footer-post{
 display:inline-block;
margin-bottom:45px;
border:0
}
section.footer div.footer-post-description {
    padding-left:20px;
}
section.footer span.footer-post-content {
    color:#fff;
}
section.footer h3.footer-news {
    margin-bottom:40px;
}
footer.footer .copyright{
    display: inline-block;
    width: 100%;
    text-align: center;
}
footer.footer .copyright a{
    color:#ffa00d;
    font-weight:bold;
}
footer.footer .copyright a:hover{
    color:#ffa00d;
}
section.footer{
   padding-top:50px;
}
section.footer h3{
    color:#fff;
    font-size:20px !important;
}
section.footer p{

}
section.footer .textwidget{
    padding-top:20px;
    font-size:14px;
    text-align:justify;
}
section.footer .textwidget .entry-content{
    padding: 0 40px 0 0;
}
.last-news{
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.last-news h3{
    font-weight:bold;
}
.last-news .news-date {
    font-size:13px;
    font-weight:bold;
    color:#999;    
    margin-bottom: 13px;
    display: inline-block;
}
.last-news a.read-more{
 text-decoration:underline;
color:#ffa00d;
}
.search-bar .container{
    padding-top:2%;
}
header.header {
    background-color: #ffffff !important;
}
.header .nav {
    background-color: #ffffff !important;
}
.right-column{
    padding-top:5rem;
    color:#333;
}
.title {
font-weight:bold;
}
.right-column .title{
    color:#fff;
    background-color:rgba(239,166,33,0.8);
    text-align:center;
    font-weight:bold;
    border-radius: 0px;
}
.right-column ul {
    padding:0 !important;
}
.right-column li {
    border-bottom: 1px solid #efefef;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.right-column li:hover {
    border-left: 4px solid #efa621;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.right-column li a {
    padding: 1rem;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1rem;
}
.right-column .sidebar{
    border: 1px solid #888888;
    max-height: 400px;
    overflow-x: scroll;
}
.right-column h3.title {
     margin-bottom:0 !important;
}
.header .nav .nav-item a{
    display: inline-block;
    width: 100%;
    height: 72px;
    padding-top: 26px;
    font-weight: 400;
}
.header li ul li ul li:hover {
     background-color:#999;
}
li.couleur-white:hover {
    background-color:#efefef;
    color:#333 !important;
}

li.couleur-white:hover a {
    background-color:#efefef;
    color:#333 !important;
}

li.couleur-white ul {
    background-color:#efefef;
    color:#333 !important;
}
li.couleur-white ul li {
    background-color:#efefef;
    color:#333 !important;
}
li.couleur-white ul li a {
    background-color:#efefef;
    color:#333 !important;
}
h1.title {
    color: #333 !important;
    text-shadow: none !important;
}
h1 {
    font-weight:bold;
}
header > span.naving_mobile li {
    color: #333 !important;
    text-shadow:none !important;
}
header > span.naving_mobile li:hover {
    background-color: #efefef !important;
}
header > span.naving_mobile li:hover a {
    background-color: #efefef !important;
    color: #333 !important;
}
header span.naving_mobile li a {
    color: #333 !important;
    text-shadow:none !important;
}
#ajaxsearchpro1_1, #ajaxsearchpro1_2, div.ajaxsearchpro[id*="ajaxsearchpro1_"] {
    border: 2px solid #ffa00d !important;
    border-radius: 0px !important;
}

/*------------------------------------*\
    MAIN
\*------------------------------------*

/* global box-sizing */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html {
    font-size: 62.5%;
}

body {
    font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #444;
}

/* clear */
.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #444;
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

input:focus {
    outline: 0;
    border: 1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
    position: relative;
}

/* header */
section.haut_site {
    height:400px;
    background-size: cover;
    background-position:bottom;
}

.max-width_img {
    max-width:250px;
}
/* logo */
.logo {

}


.col_sombre{
    background: transparent;
    color: white;
    padding-top: 5rem!important;
    padding-left: 1rem!important;
   /* -webkit-border-radius: 15px;*/
}

h3.bg-titre-aside {
    color:white;
    -webkit-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
    padding: 1rem;
}
.column.partie-droite {
    padding-top: 5rem;
}


.columns.is-marginless.mobile_col {
    height: auto;
}



.col_sombre  a {
    color: hsla(210, 42%, 50%, 1);
}

.col_sombre  h3 {
    color: #656565;
}


.widget {
    margin: 0rem 0rem 1rem 0rem;

}

.widget_categories{
    /* background-color:#efefef; */
    padding-bottom: 2rem;

}

.widget > ul {
    padding:1rem;
    /* background: #efefef; */
    border-radius: 5px;
}

.title:not(:last-child), .subtitle:not(:last-child){
    margin-bottom: 0.5rem;
}
.logo-img {
    height: 60px;
    margin: 6px 15px;
}


/* sidebar */
.sidebar {

}

/* footer */
.footer {
    background-color: #222;
    color: #ecf0f1;
}
.footer > .container > .content > p {
    color: #ecf0f1;
}

.footer > .container > .content > p > a{
    color: #ecf0f1;
}

/*------------------------------------*\
    PAGES
\*------------------------------------*/

/*------------------------------------*\
    IMAGES
\*------------------------------------*/

/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/

@font-face {
    font-family: 'Font-Name';
    src: url('fonts/font-name.eot');
    src: url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
    url('fonts/font-name.woff') format('woff'),
    url('fonts/font-name.ttf') format('truetype'),
    url('fonts/font-name.svg#font-name') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1140px) {

}

@media only screen and (min-width: 1280px) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
    background: #edcf0b;
    color: #FFF;
    text-shadow: none;
}

::-webkit-selection {
    background: #edcf0b;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection {
    background: #edcf0b;
    color: #FFF;
    text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #FFF;
    border: 1px solid #F0F0F0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.sticky {

}

.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*

AUTHOR CSS

*/

*, p {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size:95%;
    line-height: 1.4;
    margin: 1rem;

}
.centered_div {
    display:flex;justify-content:center;align-items:center;
}

body {
    font-size: 16px;
}

a.button.is-info.is-large {
    margin-left: 3rem;
    top: 2px;
}

.headerDivider {
    border-left:5px solid #3273dc;
    height:100%;

}

.couleur-white {
color: #333;
    text-shadow: none;
    margin-right: 0.5rem;
    position: relative;
    display: inline-block;
    line-height: 72px;
    padding-top: 0;
    vertical-align: middle;
    padding-bottom: 0;
}

.couleur-white a {
    color: #333;
    text-shadow: none;
}

ul.sub-menu {
    border-top: 0;
    padding: 0;
    position: absolute;
    z-index: 99999;
    opacity:0;
    transition:opacity 0.5s linear;
    display: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
li.menu-item > ul.sub-menu > li{
    border-bottom: 0px solid hsl(200, 60%, 38%);
}
li.menu-item-has-children:hover >  ul.sub-menu {
    display: block;
    background:#efefef;
    min-width: 100%;
    left:0px;
    opacity:1;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    min-width: 10%;
}

li.menu-item > a {
    line-height: 2rem;
}
li.menu-item > ul.sub-menu > li {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
li.menu-item > ul.sub-menu > li:hover  {
    border-bottom: 0;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

li.menu-item:hover > a   {
    color:white;
}

ul.sub-menu > li:hover > ul.sub-menu > li {
    background: #efefef;
    width: 100%;
    line-height: normal!important;

}

ul.sub-menu > li:hover > ul.sub-menu > li:hover {
    background: #efefef ;
    width: 100%;

}

li.menu-item > ul.sub-menu > li {
    line-height:normal;
}

li.menu-item > ul.sub-menu > li > ul.sub-menu {
    left: 100%;
    top:0px;
}
ul.sub-menu > li > ul.sub-menu > li {
    min-width: 30rem;
}

nav.nav {

}

@media screen and (max-width: 768px){
    span.navig_mobile {
        display: none;
    }
    .mobile_col{
        display: flex;
        flex-direction: column-reverse;
    }


    .columns.is-marginless.mobile_col {
        height: auto;
    }


}

span.text-white{
    background-color:white;
}

#nav-toggle-state {
    display: none;
}

#nav-toggle-state:checked ~ span.navig_mobile {
    display: block;
}

.no_break_title {

    word-break: keep-all;
}

input.light_radius{
    border-radius:10px!important;
}

main.article_page{
    padding: 1rem;
    border-radius: 5px;
}

.line {
    margin-top: 2rem;
}
.entry-content > ul > li {
    list-style-type: initial;
    margin-left: 5rem;
}
